mysqlclient
redis
requests
schema
six
tzlocal
ujson
urllib3
PyMySQL
djangorestframework
Django
#pymysql
django-bootstrap3
pycalverter
django-crispy-forms
django-bootstrap3-datetimepicker-timepicker
gunicorn
jdatetime
bootstrap3_datetime
djangorestframework-jwt
django-mongolog
kavenegar
django-excel-response
six
django-ckeditor
Pillow
python-barcode[images]==0.9
django-recaptcha
js2py
celery
redis
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
